.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:50px;
  padding-block: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  margin-bottom: 20px;
}
.SpecialButton{
  background-color: var(--Red) !important;
  padding: 15px;
  color: white !important;
  border-radius: 5px;
}
.Navbar img {
  width: 75px;
  height: 75px;
  z-index: 5;
}
.Logo{
  z-index: 5;
}
.Navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.Links {
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.Links button {
  padding: 8px 16px;
  color: #FFFFFF;
  background-color: #FF0000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.Navbar a:hover {
  color: #FF0000;
}

.HAM{
  align-items: end;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 5px;
  height: 30px;
  justify-content: center;
  z-index: 2;
}
.HAM div:first-child, .HAM div:nth-child(3) {
background-color: #000;
height: 5px;
width: 35px;
}
.HAM div:nth-child(2) {
background-color: #000;
height: 5px;
width: 25px;
}
@keyframes moveintoview {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width:650px) {
  .Links{
    display: none;
  }
  .HAM{
    display: flex;
    z-index: 5;
  }
  
  .HAMOPEN div{
    background-color: white !important;
  }
  .CLOSE{
    display: none !important;
  }
  .OPEN{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(0, 0, 0,.9);
    color: white !important;
    flex-direction: column;
    gap:50px;
    padding: 0px;
    margin: 0px;
  }
  .Links a{
    color: white;
    font-size: 35px;
    width: 190px;
    opacity: 0;
    animation: moveintoview .5s var(--Delay) forwards;
  }
  .Delay1 {
    --Delay: .10s;
  }
  
  .Delay2 {
    --Delay: .20s;
  }
  
  .Delay3 {
    --Delay: .30s;
  }

 
}




