.jobs-container {
  display: flex;
  gap: 5px;
  flex-flow: wrap row;
  transition: all 0.3s ease-in;
  min-height: auto;
  align-content: center;
  padding-inline:50px;
  padding-block: 10px;
}
.categories{
  min-height: 100vh;
}
.job-card {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.job-benefits-heading{
    width: 100%;
    text-align: left !important;
    color: var(--Red);
    width: calc(100%-100px);
    padding-inline:50px;
    padding-block: 10px;
}

.job-title,.job-description {
  padding: 0px;
  margin: 0px;
  color: #000000;
  margin-bottom: 10px;

}

.job-title{
  display: flex;
  flex-direction: column;
}
.Available{
  font-size: 12px !important;
}
.ViewMore{
  width: 105px;
  background: var(--Red);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.job-description {
  color: #808080;
}


.filter-btns {
  display: flex;
  padding-inline:50px;
  padding-block: 10px; 
  margin-bottom: 20px;
  overflow: auto;
  
}

.filter-btn {
  background: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width:1100px) {
  .filter-btn{
    width: auto;
    min-width: 150px;
  }
}
.filter-btn.active {
  background: var(--Red);
  color: white;
}

.jobs-heading {
 width: calc(100%-50px);
 padding-inline:50px;
 padding-block: 10px;
}

@media screen and (max-width:910px) {
  .jobs-container{
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:550px) {
 .jobs-container{
  padding-inline: 20px;
  padding-block: 10px;
 }
}