@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --Red:#cc0000;
    --Black:black;
    --White:white;
}

*{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
